<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    
    <appSettings>
        <!-- License Server Configuration    http://38.181.35.75:8080-->
		
		<add key="LicenseServerUrl" value="http://38.181.35.75:8080" />
        
        <!-- Contract API Server Configuration -->
        <add key="ContractApiServerUrl" value="http://38.181.35.75:8080" />
        
        <!-- Application Identifier -->
        <add key="ApplicationId" value="App_20250928132921" />
        
        <!-- Auto-saved License Key - Managed by System -->
        <add key="LicenseKey" value="" />
        
        <!-- Current Application Version - Auto-updated by Smart Update -->
        <add key="CurrentAppVersion" value="1.0.4" />
        
        <!-- Optional Configuration -->
        <add key="LicenseValidationTimeout" value="30" />
        <add key="OfflineGracePeriod" value="7" />
        
        <!-- Application Specific Configuration -->
        <add key="ApplicationName" value="BinanceApps" />
        <add key="CompanyName" value="Your Company Name" />
        
        <!-- Purchase Guide Configuration -->
        <add key="PurchaseGuideUrl" value="http://38.181.35.75:8080/api/docs/guide" />
    </appSettings>
</configuration> 